<div class="content settings" ng-controller="settingsCtrl">

	<div class="card card-settings no-border" >

	    <form  method="post">

			<li class="table-view-cell">
				Theme
				<select class="auto-answer pull-right" ng-model="theme" ng-options="item.class as item.name for item in themes">
				</select>
				<!--<div ui-toggle ng-model="interface.autoAnswer"></div>-->
			</li>

			<li class="table-view-cell">
				Click to call
				<div ui-toggle ng-model="interface.clickToCall"></div>
			</li>

			<li class="table-view-cell">
				Agent auto login
				<div ui-toggle ng-model="interface.autoLoginCC"></div>
			</li>

			<li class="table-view-cell">
				Agent on demand
				<div ui-toggle ng-model="interface.onDemand"></div>
			</li>
			<li class="table-view-cell">
				Notify new call
				<div ui-toggle ng-model="interface.notificationNewCall"></div>
			</li>

			<li class="table-view-cell">
				Notify missed call
				<div ui-toggle ng-model="interface.notificationMissed"></div>
			</li>

			<li class="table-view-cell">
				Use post process
				<div ui-toggle ng-model="interface.usePostProcess"></div>
			</li>

			<li class="table-view-cell">
				SIP auto answer
				<div ui-toggle ng-model="interface.useSIPAutoAnswer"></div>
			</li>

	        <button ng-click="logout()" style="margin-top: 25px;" class="btn btn-negative btn-block btn-outlined">Logout</button>
	    </form>
	</div>
</div>